<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Headers - 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/reset.min.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/header-2.css" />
  </head>
  <body>
    <!-- Header Start -->
    
    <div th:fragment="header">
    
    
		<header class="site-header">
			<div class="wrapper site-header__wrapper">
				<a href="#" class="brand">Brand</a>
			    <nav class="nav">
			    	<button class="nav__toggle" aria-expanded="false" type="button">
			            menu
			       	</button>
			          <ul class="nav__wrapper">			    
			            <li class="nav__item nav__item--end"><a href="#">sercvicios</a></li>
			            <li class="nav__item"><a th:href="@{/productocontroller}">Productos</a></li>
			            <li class="nav__item"><a th:href="@{/clientecontroller}">Clientes</a></li>
			            <li class="nav__item"><a th:href="@{/vehiculoscontroller}">Vehiculos</a></li>
			            <li class="nav__item"><a th:href="@{/empleadocontroller}">Empelados</a></li>
			            <li class="nav__item"><a th:href="@{/usuariocontroller}">usuarios</a></li>
			    	</ul>
				</nav>
			</div>
		</header>
			    <!-- Header End -->
	</div>
    
    <div th:fragment = footer>
    
    
    </div>
    

    <script src="js/header-2.js"></script>
  </body>
</html>