<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	    <h1>Editar de Producto</h1>
	    <form th:action="@{/productocontroller/update}" method="POST">
	        <label for="nombre">Nombres:</label><br>
	        <input type="text" id="nombres" name="nombres" required><br><br>
	        
	        <label for="descripcion">Apellidos:</label><br>
	        <input type="text" id="apellidos" name="apellidos" required><br><br>
	        
	        <label for="precio">Dni:</label><br>
	        <input type="text" id="dni" name="dni" step="0.01" required><br><br>
	        
	        <input type="submit" value="Enviar"> 
	    </form>
	</body>
</html>