<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:replace="Principal/Template.html::header"></div>

	<h1>Clientes</h1>
	<hr>
	<a th:href="@{clientecontroller/create}">NUEVO</a>
	<hr>
	<table border=1>
		<thead>
			<tr>
				<th>nombres</th>
				<th>apellidos</th>
				<th>dni</th>
				<th>Editar</th>
				<th>Eliminar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="temp:${clientes}">
				<td th:text="${temp.nombre}"></td>
				<td th:text="${temp.apellido}"></td>
				<td th:text="${temp.dni}"></td>
				<td><button class="btn" data-bs-toggle="modal" data-bs-target="#clienteModal" 
				    th:data-id="${temp.id}" 
				    th:data-nombre="${temp.nombre}" 
				    th:data-apellido="${temp.apellido}" 
				    th:data-dni="${temp.dni}"
				    (click)="@{clientecontroller/edit/{id} (id=${temp.id}) }">
				    Editar
					</button>
				</td>
				<td><a class="btn" th:href="@{clientecontroller/delete/{id} (id=${temp.id}) }">Eliminar</a></td>
			</tr>		
		</tbody>
	</table>

</body>
</html>
